{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="header-spacer"></div>

<div class="container">
	<div class="row">
        <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12"></div>
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% else  %}
                    <div class="form-group m-3">
                        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                        <label for="inputEmail" >Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
                        <p><a href="{{ path('app_reset_form') }}">J'ai oublié mon mot de passe</a></p>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
