{% extends 'registration/base-registration.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


<div class="container">
	<div class="row display-flex">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="landing-content">
				<h1>Bienvenue sur le plus grand réseau social de Snowboard !</h1>
				<p>N'attendez plus, ouvrez votre compte et partagez avec la communauté vos meillers tricks.
				</p>
			</div>
		</div>

		<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
			
			<!-- Login-Registration Form  -->
			
			<div class="registration-login-form">
				<div class="tab-content">
					<div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Inscription à SnowTricks</div>
						<div class="content">

                            {% for flashError in app.flashes('verify_email_error') %}
                                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                            {% endfor %}

							<div class="row">

                                {{ form_start(registrationForm) }}
									{{ form_row(registrationForm.email) }}
									{{ form_row(registrationForm.firstname) }}
									{{ form_row(registrationForm.lastname) }}
									{{ form_row(registrationForm.plainPassword, {
										label: 'Password'
									}) }}

									<button type="submit" class="btn btn-purple btn-lg full-width">Register</button>
								{{ form_end(registrationForm) }}

                                
								{# <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="form-group label-floating">
										<label class="control-label">First Name</label>
										<input class="form-control" placeholder="" type="text">
									</div>
								</div>
								<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
									<div class="form-group label-floating">
										<label class="control-label">Last Name</label>
										<input class="form-control" placeholder="" type="text">
									</div>
								</div>
								<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group label-floating">
										<label class="control-label">Your Email</label>
										<input class="form-control" placeholder="" type="email">
									</div>
									<div class="form-group label-floating">
										<label class="control-label">Your Password</label>
										<input class="form-control" placeholder="" type="password">
									</div>
			
									<div class="form-group date-time-picker label-floating">
										<label class="control-label">Your Birthday</label>
										<input name="datetimepicker" value="10/24/1984" />
										<span class="input-group-addon">
														<svg class="olymp-calendar-icon"><use xlink:href="#olymp-calendar-icon"></use></svg>
													</span>
									</div>
			
									<div class="form-group label-floating is-select">
										<label class="control-label">Your Gender</label>
										<select class="selectpicker form-control">
											<option value="MA">Male</option>
											<option value="FE">Female</option>
										</select>
									</div>
			
									<div class="remember">
										<div class="checkbox">
											<label>
												<input name="optionsCheckboxes" type="checkbox">
												I accept the <a href="#">Terms and Conditions</a> of the website
											</label>
										</div>
									</div>
			
									<a href="#" class="btn btn-purple btn-lg full-width">Complete Registration!</a> #}
								</div>
							</div>
						</div>
					</div>
			
					
				</div>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
