{% extends 'base.html.twig' %}
{% block title %}SnowTricks{% endblock %}
{% block body %}

<div class="header-spacer"></div>
{% include 'tricks/create/error.html.twig' %}

<div class="container">
	<div class="row">
		<div class="col col-xl-12 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Personnalisation d'un trick</h6>
				</div>
				<div class="ui-block-content">
                    {{ form_start(form) }}
						<div class="row">
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
                                    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>
					
							<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group">
                                     {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>

							<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group">
                                     {{ form_row(form.photos, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>

							{# store the prototype on the data-prototype attribute #}
							<div class="photo-album-wrapper col">
								<ul id="assets-fields-list"
									data-prototype="{{ form_widget(form.tricksVideos.vars.prototype)|e }}"
									data-widget-tags="{{ '<li></li>'|e }}"
									data-widget-counter="{{ form.tricksVideos|length }}">
								{% for tricksVideosField in form.tricksVideos %}
									<div class="photo-album-item-wrap col col-4-width">
										<div class="ui-block video-item">
											<div class="video-player">
												<img src="{{ videoThumb(tricksVideosField.asset.vars.value) }}" alt="photo">
												<div hidden>{{ form_widget(tricksVideosField) }}</div>
											</div>
											<a href="{{ path('app_delete_video_asset', {id: tricksVideosField.vars.data.id})}}" data-delete data-token="{{ csrf_token('delete' ~ tricksVideosField.vars.data.id )}}">Supprimer</a>
										</div>
									</div>
									
								{% endfor %}
								{% for photosField in form.tricksPhotos %}
									<div class="photo-album-item-wrap col col-4-width">
										<div class="ui-block video-item">
											<div class="video-player">
												<img src="/uploads/photos/{{ photosField.vars.data.asset }}" alt="photo">
												<div hidden>{{ form_widget(photosField) }}</div>
											</div>
											<a href="{{ path('app_delete_photo_asset', {id: photosField.vars.data.id})}}" data-delete data-token="{{ csrf_token('delete' ~ photosField.vars.data.id )}}">Supprimer</a>
										</div>
									</div>
									
								{% endfor %}

								</ul>
							</div>

							<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group">
									<button type="button"
										class="add-another-collection-widget btn btn-primary btn-lg full-width"
										data-list-selector="#assets-fields-list">Ajouter une vidéo
									</button>
								</div>
							</div>

							<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group">
                                     {{ form_row(form.tricksGroup, {'attr': {'class': 'form-control'}}) }}
								</div>
							</div>


							<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
								<button class="btn btn-primary btn-lg full-width">Enregistrer le trick</button>
							</div>

							{% if trick.id %}
								<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
									<button class="bbtn btn-outline-secondary full-width"><a href="{{ path('app_delete_trick', {'slug': trick.slug}) }}"><i class="fas fa-trash-alt"></i> Supprimer le Trick</a></button>
								</div>
							{% endif %}

							
						</div>
                    {{ form_end(form) }}
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
