<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>

        <!-- Required meta tags always come first -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.css">


        <!-- Main Styles CSS -->
        <link rel="stylesheet" type="text/css" href="/css/main.min.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.min.css">

        <!-- Main Font -->
        <script src="/js/libs/webfontloader.min.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Roboto:300,400,500,700:latin']
                }
            });
        </script>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>

    <body>
        {% include 'sidebar.html.twig' %}
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {# {% include 'popup.html.twig' %} #}
        {% include 'scripts.html.twig' %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
