<!-- Header-BP -->

<header class="header" id="site-header">

	<div class="page-title">
		<h6>SnowTricks</h6>
	</div>

	<div class="header-content-wrapper">
		{# <form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control" placeholder="Chercher un Trick..." type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon">
						<use xlink:href="#olymp-magnifying-glass-icon"></use>
					</svg>
				</button>
			</div>
		</form>

		<a href="#" class="link-find-friend">Chercher un Trick</a> #}

		<div class="control-block">
			<div class="author-page author vcard inline-items more">
				<div class="author-thumb">
					{% if is_granted('ROLE_USER') %}
						<img alt="author" src="{{gravatar(app.user.email)}}" class="avatar">
					{% endif %}
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<ul class="account-settings">
								{% if is_granted('ROLE_USER') %}

									<li>
										<a href="{{ path('app_logout') }}">
											<svg class="olymp-logout-icon">
												<use xlink:href="#olymp-logout-icon"></use>
											</svg>

											<span>Fermer la session</span>
										</a>
									</li>
								{% else %}
									<li>
										<a href="{{ path('app_login') }}">
											<svg class="olymp-login-icon">
												<use xlink:href="#olymp-login-icon"></use>
											</svg>

											<span>Se connecter</span>
										</a>
									</li>
									<li>
										<a href="{{ path('app_register') }}">
											<svg class="olymp-logout-icon">
												<use xlink:href="#olymp-login-icon"></use>
											</svg>

											<span>Créer un compte</span>
										</a>
									</li>
								{% endif %}

							</ul>
						</div>

					</div>
				</div>
				{% if is_granted('ROLE_USER') %}
					<a href="" class="author-name fn">
						<div class="author-title">
							{{app.user.firstname}}
							{{app.user.lastname}}
							<svg class="olymp-dropdown-arrow-icon">
								<use xlink:href="#olymp-dropdown-arrow-icon"></use>
							</svg>
						</div>
					</a>
				{% else %}
					<a href="" class="author-name fn">
						<div class="author-title">
							Connexion
							<svg class="olymp-dropdown-arrow-icon">
								<use xlink:href="#olymp-dropdown-arrow-icon"></use>
							</svg>
						</div>
					</a>
				{% endif %}

			</div>

		</div>
	</div>

</header>
<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->
<header class="header header-responsive" id="site-header-responsive">
	<div class="header-content-wrapper">
		<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_home') }}">
					<div class="control-icon has-items">
						<i class="fas fa-home fa-3x"></i>
					</div>
				</a>
			</li>
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_create_trick') }}">
						<div class="control-icon has-items">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">
						<div class="control-icon has-items">
							<i class="fas fa-sign-out-alt fa-3x"></i>
						</div>
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">
						<div class="control-icon has-items">
							<i class="fas fa-sign-in-alt fa-3x"></i>
						</div>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</header>
<!-- ... end Responsive Header-BP -->
