{% for message in app.flashes('success') %}
	<div class="container">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="alert widget w-wethear alert-dismissible fade show" role="alert">
					<h4 class"title">{{ message }}</h4>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endfor %}