 <!-- JS Scripts -->
        <script src="/js/jQuery/jquery-3.4.1.js"></script>
        <script src="/js/libs/jquery.appear.js"></script>
        <script src="/js/libs/jquery.mousewheel.js"></script>
        <script src="/js/libs/perfect-scrollbar.js"></script>
        <script src="/js/libs/jquery.matchHeight.js"></script>
        <script src="/js/libs/svgxuse.js"></script>
        <script src="/js/libs/imagesloaded.pkgd.js"></script>
        <script src="/js/libs/Headroom.js"></script>
        <script src="/js/libs/velocity.js"></script>
        <script src="/js/libs/ScrollMagic.js"></script>
        <script src="/js/libs/jquery.waypoints.js"></script>
        <script src="/js/libs/jquery.countTo.js"></script>
        <script src="/js/libs/popper.min.js"></script>
        <script src="/js/libs/material.min.js"></script>
        <script src="/js/libs/bootstrap-select.js"></script>
        <script src="/js/libs/smooth-scroll.js"></script>
        <script src="/js/libs/selectize.js"></script>
        <script src="/js/libs/swiper.jquery.js"></script>
        <script src="/js/libs/moment.js"></script>
        <script src="/js/libs/daterangepicker.js"></script>
        <script src="/js/libs/fullcalendar.js"></script>
        <script src="/js/libs/isotope.pkgd.js"></script>
        <script src="/js/libs/ajax-pagination.js"></script>
        <script src="/js/libs/Chart.js"></script>
        <script src="/js/libs/chartjs-plugin-deferred.js"></script>
        <script src="/js/libs/circle-progress.js"></script>
        <script src="/js/libs/loader.js"></script>
        <script src="/js/libs/run-chart.js"></script>
        <script src="/js/libs/jquery.magnific-popup.js"></script>
        <script src="/js/libs/jquery.gifplayer.js"></script>
        <script src="/js/libs/mediaelement-and-player.js"></script>
        <script src="/js/libs/mediaelement-playlist-plugin.min.js"></script>
        <script src="/js/libs/ion.rangeSlider.js"></script>
        <script src="/js/libs/leaflet.js"></script>
        <script src="/js/libs/MarkerClusterGroup.js"></script>
        <script src="/js/add-collection-widget.js"></script>


        <script src="/js/main.js"></script>
        <script src="/js/libs-init/libs-init.js"></script>
        <script defer src="/fonts/fontawesome-all.js"></script>

        <script src="/Bootstrap/dist/js/bootstrap.bundle.js"></script>

        <!-- SVG icons loader -->
        <script src="/js/svg-loader.js"></script>
        <!-- /SVG icons loader -->