<div class="fixed-sidebar">
	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

		<a href="{{ path('app_home') }}" class="logo">
			<div class="img-wrap">
				<img src="/img/logo.png" alt="Olympus">
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-menu-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="OPEN MENU"><use xlink:href="#olymp-menu-icon"></use></svg>
					</a>
				</li>
				<li>
					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('app_create_trick') }}">
							<i class="fas fa-plus fa-2x left-menu-icon"></i>
						</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
		<a href="{{ path('app_home') }}" class="logo">
			<div class="img-wrap">
				<img src="/img/logo_36x36.png" alt="Olympus">
			</div>
			<div class="title-block">
				<h6 class="logo-title">SnowTricks</h6>
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-close-icon left-menu-icon"><use xlink:href="#olymp-close-icon"></use></svg>
						<span class="left-menu-title">Collapse Menu</span>
					</a>
				</li>
				<li>
					{% if is_granted('ROLE_USER') %}
						<a href="{{ path('app_create_trick') }}">
							<i class="fas fa-plus fa-2x left-menu-icon"></i>
							<span class="left-menu-title">Ajouter un Trick</span>
						</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</div>