{% extends 'base.html.twig' %}
{% block title %}SnowTricks{% endblock %}
{% block body %}
<div class="header-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col col-xl-12 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Ajouter une vidéo</h6>
				</div>
				<div class="ui-block-content">
                    {{ form_start(form) }}
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="form-group">
                                {{ form_label(form.asset, 'Adresse de votre video (Youtube, Viméo ou Dailymotion') }}
                                {{ form_widget(form.asset, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
							<button class="btn btn-primary btn-lg full-width">Enregistrer le trick</button>
						</div>
                    {{ form_end(form) }}
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
