{% extends 'base.html.twig' %}
{% block title %}SnowTricks{% endblock %}
{% block body %}
<section class="page-500-content medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
				<img src="/img/500.png" alt="error_500">
			</div>
			<div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
				<div class="crumina-module crumina-heading">
					<h1 class="page-500-sup-title">Oups !</h1>
					<h2 class="h1 heading-title">Visiblement le site rencontre un problème ;-)</h2>
					<p class="heading-text">Une rotation de trop ?</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}