<h1>SnowTricks - Procédure de réinitilisation de mot de passe</h1>

<p>Veuillez cliquer sur le lien ci-dessous, pour choisir un nouveau mot de passe:</p>
<a href="{{ absolute_url(path('app_reset_verify', {'token': token}))}}">Réinitialiser le mot de passe.</a>
