{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="header-spacer"></div>

<div class="container">
	<div class="row">
        <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12"></div>
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
                <div class="form-group m-3">
                    {{ form_start(form) }}
                        <h1 class="h3 mb-3 font-weight-normal">Votre nouveau mot de passe</h1>
                        <label>Password</label>
                        {{form_widget(form.plainPassword)}}
                        <button type="submit" class="btn btn-md-2 btn-primary">Modifier votre mot de passe</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
