{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="header-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12"></div>
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Un email avec un lien de réinitilisation vient de vous être envoyé sur votre adresse mail</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
