<div class="container" id="tricks_item">
	<div class="row">
		{% for trick in tricks %}
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
			<div class="ui-block">
				
				<!-- Trick Item -->
				<div class="friend-item">
					<div class="friend-header-thumb">
						{% if trick.tricksPhotos is empty %}
							<img src="/img/tricks-default.jpg" alt="photo">
						{% endif %}
						{% for asset in trick.tricksPhotos %}
							{% if (asset.type == 'main') %}
								<img src="/uploads/photos/{{ asset.asset }}" alt="friend">
							{% endif %}
						{% endfor %}
					</div>
				
					<div class="friend-item-content">
				    {% if is_granted('ROLE_USER') %}

						<div class="more">
							<svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="{{ path('app_edit_trick', {'slug': trick.slug}) }}"><i class="fas fa-edit"></i> Editer le trick</a>
								</li>
								<li>
									<a href="{{ path('app_delete_trick', {'slug': trick.slug}) }}"><i class="fas fa-trash-alt"></i> Supprimer le Trick</a>
								</li>
							</ul>
						</div>
				    {% endif %}
											
						<div class="friend-avatar">
							<div class="author-thumb">
								{% if trick.user.avatar %}
									<img src="{{ trick.user.avatar }}" alt="author">
								{% else %}
									<img src="{{ gravatar(trick.user.email, 90) }}" alt="author">
								{% endif %}
							</div>
							<div class="author-content">
								<a href="{{ path('app_show_trick', {'slug': trick.slug}) }}" class="h5 author-name">{{ trick.name}}</a>
								<div class="country">Trick mise en ligne par {{ trick.user.firstname}} {{ trick.user.lastname}}</div>
							</div>
						</div>
				
						<div class="swiper-container" data-slide="fade">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="friend-count" data-swiper-parallax="-500">
										<a href="#" class="friend-count-item">
											<div class="h6">
												{{ trick.tricksGroup|length }}
											</div>
											<div class="title">Groups</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">
												{% set photoCount = '0' %}
												{% for asset in trick.tricksPhotos %}
													{% if (asset.type == 'photo') or (asset.type == 'main') %}
														{% set photoCount = photoCount + 1 %}
													{% endif %}
												{% endfor %}
												{{ photoCount }}			
											</div>
											<div class="title">Photos</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">
												{% set videoCount = '0' %}
												{% for asset in trick.tricksVideos %}
														{% set videoCount = videoCount + 1 %}
												{% endfor %}
												{{ videoCount }}
											</div>
											<div class="title">Videos</div>
										</a>
									</div>
									<div class="control-block-button" data-swiper-parallax="-100">		
										<a href="{{ path('app_show_trick', {'slug': trick.slug}) }}#trick-comment" class="btn btn-control bg-purple">
											<svg class="olymp-chat---messages-icon"><use xlink:href="#olymp-chat---messages-icon"></use></svg>
										</a>
									</div>
								</div>
				
								<div class="swiper-slide">
									<p class="friend-about" data-swiper-parallax="-500">
										{{ trick.description | slice(1, 100) }} ...
									</p>
				
									<div class="friend-since" data-swiper-parallax="-100">
										<span>Mise à jour le</span>
										<div class="h6">{{ trick.updateAt | date("d/m/Y") }}</div>
									</div>
								</div>
							</div>
				
						</div>
					</div>
				</div>
				
				
				<!-- ... end Friend Item -->			
            </div>
		</div>
		{% endfor %}

	</div>
			{% include 'tricks/home_tricks_pagination.html.twig' %}

</div>
