{% extends 'base.html.twig' %}
{% block title %}SnowTricks{% endblock %}
{% block body %}
<div class="header-spacer"></div>
<!-- Top Header-Profile -->
{% include 'notifications.html.twig' %}

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="/img/top-header1.jpg" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										{# <a href="{{ path('app_home') }}" class="active">Timeline</a> #}
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										{# <a href="09-ProfilePage-Videos.html">Videos</a> #}
									</li>
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<div class="btn btn-control bg-primary more">
								<a href="#tricks_item"><img src="img/down.png" alt="arrow" class="back-icon"></a>
							</div>
						</div>
					</div>
					<div class="top-header-author">
						<a href="{{ path('app_home') }}" class="author-thumb">
							<img src="/img/logo_124x124.png" alt="author">
						</a>
						<div class="author-content">
							<a href="{{ path('app_home') }}" class="h4 author-name">SnowTricks</a>
							<div class="country">LA plateforme des riders</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Top Header-Profile -->

<!-- Tricks -->
{% include 'tricks/home_tricks_item.html.twig' %}
<!-- ... end Tricks -->
{% endblock %}
