{% if is_granted('ROLE_USER') %}
	<!-- Comment Form  -->
	<div class="ui-block" id="trick-comment">
		{{ form_start(form, {'attr': {'class': 'comment-form inline-items'}}) }}
			<div class="post__author author vcard inline-items">
				<div class="form-group with-icon-right ">
					{{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<button type="submit" class="btn btn-md-2 btn-primary">Poster un commentaire</button>
		{{ form_end(form) }}
	</div>
	<!-- ... end Comment Form  -->
{% endif %}