<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<!-- Tab panes -->
			<div class="tab-content">
			{# read and display just one flash message type #}
				{# <div class="tab-pane" id="photo-page" role="tabpanel">
					<div class="photo-album-wrapper">
						<a href="#" class="btn btn-control btn-more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
					</div>
				</div>
 #}
				<div class="tab-pane active" id="album-page" role="tabpanel">

					<div class="photo-album-wrapper">

					    {% if is_granted('ROLE_USER') %}
							<div class="photo-album-item-wrap col-4-width" >
								
								<div class="photo-album-item create-album" data-mh="album-item">
								
									<a href="#" data-toggle="modal" data-target="#create-photo-album" class="  full-block"></a>
								
									<div class="content">
								
										<a href="#" class="btn btn-control bg-primary" data-toggle="modal" data-target="#create-photo-album">
											<svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
										</a>
								
										<a href="#" class="title h5" data-toggle="modal" data-target="#create-photo-album">Ajouter un média</a>
										<span class="sub-title">It only takes a few minutes!</span>
								
									</div>
								
								</div>
							</div>
					    {% endif %}
						
						{% if trick.tricksPhotos is empty %}
							<div class="photo-album-item-wrap col-4-width">
									<div class="photo-album-item" data-mh="album-item">

										<div class="photo-item">
											<img src="/img/tricks-default.jpg" alt="photo">
											<div class="overlay overlay-dark"></div>
											<a href="#" data-toggle="modal" data-target="#open-photo-popup-default" class="  full-block"></a>
										</div>
									</div>
								</div>

								<div class="modal fade modal-has-swiper" id="open-photo-popup-default" tabindex="-1" role="dialog" aria-labelledby="open-photo-popup-v1" aria-hidden="true">
									<div class="modal-dialog window-popup open-photo-popup open-photo-popup-v1" role="document">
										<div class="modal-content">
											<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
												<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
											</a>

											<div class="modal-body">
												<div class="open-photo-thumb">
													<div class="swiper-container" data-slide="fade">
														<div class="swiper-slide">
															<div class="photo-item">
																<img src="/img/tricks-default.jpg" alt="photo">
																<div class="overlay"></div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								
								<div class="photo-album-item-wrap col-4-width">
									<div class="video-player">
									</div>	
								</div>
						{% endif %}

						{% for asset in trick.tricksPhotos%}

							{% if (asset.type == 'main') or (asset.type == 'photo') %}
								<div class="photo-album-item-wrap col-4-width">
									<div class="photo-album-item" data-mh="album-item">
										<div class="photo-item">
											<img src="/uploads/photos/{{ asset.asset }}" alt="photo">
											<div class="overlay overlay-dark"></div>
											<a href="#" data-toggle="modal" data-target="#open-photo-popup-{{ asset.id }}" class="  full-block"></a>
										</div>
									</div>
								</div>

								<div class="modal fade modal-has-swiper" id="open-photo-popup-{{ asset.id }}" tabindex="-1" role="dialog" aria-labelledby="open-photo-popup-v1" aria-hidden="true">
									<div class="modal-dialog window-popup open-photo-popup open-photo-popup-v1" role="document">
										<div class="modal-content">
											<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
												<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
											</a>

											<div class="modal-body">
												<div class="open-photo-thumb">
													<div class="swiper-container" data-slide="fade">
														<div class="swiper-slide">
															<div class="photo-item">
																<img src="/uploads/photos/{{ asset.asset }}" alt="photo">
																<div class="overlay"></div>
																{% if is_granted('ROLE_USER') %}
																	<a href=" {{ path('app_delete_asset', {'id': asset.id}) }}" class="more" data-toggle="tooltip" data-placement="top"   data-original-title="Supprimer la photo">
																		<i class="far fa-trash-alt"></i>
																	</a>
																{% endif %}			
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							{% endif %}

							{# {% if asset.type == 'video' %}
								<div class="photo-album-item-wrap col-4-width">
									<div class="ui-block video-item">
										<div class="video-player">
											<img src="{{ videoThumb(asset.asset) }}" alt="photo">
											<a href="{{ asset.asset }}" class="play-video">
												<svg class="olymp-play-icon"><use xlink:href="#olymp-play-icon"></use></svg>
											</a>
										<div class="overlay overlay-dark"></div>
									</div>
								</div>
							{% endif %} #}
						{% endfor %}
						
						{% for asset in trick.tricksVideos %}

							<div class="photo-album-item-wrap col-4-width">
								<div class="ui-block video-item">
									<div class="video-player">
										<img src="{{ videoThumb(asset.asset) }}" alt="photo">
										<a href="{{ asset.asset }}" class="play-video">
											<svg class="olymp-play-icon"><use xlink:href="#olymp-play-icon"></use></svg>
										</a>
										<div class="overlay overlay-dark"></div>
										{% if is_granted('ROLE_USER') %}
											<a href=" {{ path('app_delete_video', {'id': asset.id}) }}" class="more" data-toggle="tooltip" data-placement="top"   data-original-title="Supprimer la photo">
												<i class="far fa-trash-alt"></i>
											</a>
										{% endif %}
										
									</div>
								</div>
							</div>

						{% endfor %}
						<div>
						

					</div>

				</div>
			</div>

		</div>
	</div>
</div>