{% extends 'base.html.twig' %}
{% block title %}SnowTricks{% endblock %}
{% block body %}
<div class="header-spacer"></div>

{% include 'notifications.html.twig' %}

<!-- Top Header-Profile -->

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						{% if trick.tricksPhotos is empty %}
							<img src="/img/tricks-default.jpg" alt="photo">
						{% endif %}
                        {% for asset in trick.tricksPhotos %}
                            {% if asset.type == 'main' %}
						        <img src="/uploads/photos/{{asset.asset}}" alt="nature">
                            {% endif %}
                        {% endfor %}
					</div>
					<div class="profile-section">
						<div class="row"></div>
						<div class="control-block-button">
						    {% if is_granted('ROLE_USER') %}
								<div class="btn btn-control bg-purple">
									<a href="{{ path('app_edit_trick', {'slug': trick.slug}) }}"><img src="/img/edit-solid.png" alt="back-homepage" class="back-icon"></i></a>
								</div>
								<div class="btn btn-control bg-purple">
									<a href="{{ path('app_delete_trick', {'slug': trick.slug}) }}"><img src="/img/trash-solid.png" alt="back-homepage" class="back-icon"></i></a>
								</div>
						    {% endif %}
							<a href="#trick-comment" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon"><use xlink:href="#olymp-chat---messages-icon"></use></svg>
							</a>
						</div>
					</div>
					<div class="top-header-author">
						<div class="author-content">
							<h6 class="title">{{ trick.name }}</h6>
							<div class="country">Trick de {{ trick.user.firstname}} {{ trick.user.lastname}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Top Header-Profile -->
{% include 'tricks/show/show_tricks_asset.html.twig' %}
{% include 'tricks/show/show_tricks_details.html.twig' %}
{% include 'tricks/show/show_tricks_comment.html.twig' %}
{% include 'tricks/show/show_tricks_comment_pagination.html.twig' %}

<!-- Window-popup Create Photo Album -->

<div class="modal fade" id="create-photo-album" tabindex="-1" role="dialog" aria-labelledby="create-photo-album" aria-hidden="true">
	<div class="modal-dialog window-popup create-photo-album" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Ajouter un média</h6>
			</div>

			<div class="modal-body">

			<div class="photo-album-wrapper">
				<div class="photo-album-item-wrap col-3-width" >
					<div class="photo-album-item create-album" data-mh="album-item">
						<div class="content">
							<a href="{{ path('app_create_photo_asset', {'slug': trick.slug} )}}" class="btn btn-control bg-primary">
								<svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
							</a>
							<a href="#" class="title h5">Ajouter une photo</a>
						</div>
					</div>
				</div>

				<div class="photo-album-item-wrap col-3-width" >
					<div class="photo-album-item create-album" data-mh="album-item">
						<div class="content">
							<a href="{{ path('app_create_video_asset', {'slug': trick.slug} )}}" class="btn btn-control bg-primary">
								<svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
							</a>
							<a href="#" class="title h5">Ajouter une vidéo</a>
						</div>
					</div>
				</div>

			</div>
			
		
		</div>
	</div>
</div>

<!-- ... end Window-popup Create Photo Album -->
{% endblock %}

{% block javascripts %}
{# <script>
      $("#siteloader").load('https://127.0.0.1:8003/trick/Trick-de-test/1/5');
</script> #}
{% endblock %}
