<div id="newsfeed-items-grid">
	<div class="ui-block">
		<!-- Post -->

		<article class="hentry post">

			<div class="post__author author vcard inline-items">
				<div class="author-date">
					<a class="h6 post__author-name fn" href="02-ProfilePage.html">Informations</a>
					<div class="post__date">
						<time class="published" datetime="2017-03-24T18:18">
							Mise à jour le {{ trick.updateAt | date("d/m/Y") }}
						</time>
					</div>
				</div>
			</div>
            <div>
                <p>
                    {{ trick.description}}
                </p>
            </div>
            <div>
                {% for group in trick.tricksGroup %}
                    <span class="badge badge-primary">{{ group.name }}</span>
                {% endfor %}
            </div>


			
		</article>
    </div>
		<!-- .. end Post -->
</div>
