{%include 'tricks/show/show_tricks_comment_form.html.twig' %}
<div class="ui-block" id="block-comment">
    {% for message in messages %}
		<!-- Post -->
		<article class="hentry post has-post-thumbnail shared-photo">

			<div class="post__author author vcard inline-items">
				<img src="{{ gravatar(message.user.email) }}" alt="author">

				<div class="author-date">
					<a class="h6 post__author-name fn" href="#">{{ message.user.firstname }} {{ message.user.lastname }}</a>
					<div class="post__date">
						<time class="published" datetime="2017-03-24T18:18">
							le {{ message.updateAt|date("d/m/Y") }} à {{ message.updateAt|date("H:m") }}
							{% if is_granted('ROLE_USER') %}
								(<a href="{{ path('app_delete_comment', {'slug': trick.slug, 'id': message.id}) }}">Supprimer</a>)
							{% endif %}						
						</time>
					</div>
				</div>
			</div>
			<p>{{ message.message }}</p>
		</article>
		<!-- .. end Post -->
    {% endfor %}
</div>