<div id="newsfeed-items-grid">
	<div class="ui-block">
    	<article class="hentry post">
            {% if pagination.nbPages > 0 %}
                <ul class="pagination">
                    {% if pagination.page > 1 %}
                        <li>
                            <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1})) }}#block-comment">
                                <i class="fas fa-backward"></i> &nbsp&nbsp&nbsp
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.page-1})) }}#block-comment">
                                Précédent &nbsp&nbsp&nbsp
                            </a>
                        </li>
                    {% endif %}

                    {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
                    {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
                        <li {% if p == pagination.page %}class="active"{% endif %}>
                            <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}#block-comment">
                                &nbsp&nbsp&nbsp {{ p }} &nbsp&nbsp&nbsp
                            </a>
                        </li>
                    {% endfor %}

                    {% if pagination.page < pagination.nbPages %}
                        <li>
                            <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.page+1})) }}#block-comment">
                                &nbsp&nbsp&nbsp Suivant
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': pagination.nbPages})) }}#block-comment">
                                &nbsp&nbsp&nbsp <i class="fas fa-forward"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </article>
	</div>
</div>